<form action="/new" method="post" class="card bg-dark text-light">

    <div>
        <label for="fullname">Write your fullname</label>
        <input type="text" name="fullname" placeholder="Write your fullname"
            class="form-control rounded-0 bg-dark border-0 text-white">
    </div>

    <input type="text" name="fullname" placeholder="Write your fullname">
    <input type="text" name="email" placeholder="Write your email">
    <input type="text" name="phone" placeholder="Write your phone">

    <button type="submit">Save</button>
</form>